// variables

$dark-green: #25291c;
$main-green: #828D15;
$deep-green: #4D6B31;
$jabbo: #454733;
$light-green: #F3F4E8;

$gray: #92948E;
$light-gray: rgba(218, 218, 218, 0.7);
$deep-gray: #706F6F;

$light-white: #FAFAFA;
$white: #fff;

$black: #000;

$deep-blue: #2B2D33;
$blue: #555A65;

// margins
$mblg: 80px;
$mbmd: 60px;
$mbsm: 40px;


// mixins



@mixin input-styles {
    width: 100%;
    max-width: 400px;

    font-size: 18px;
    font-weight: 500;

    padding-left: 18px;
}

@mixin form-styles {
    width: 100%;
    max-width: 400px;

    height: 72px;
    border: 2px solid $dark-green;
    border-radius: 10px;
}

@mixin label-styles {
    font-size: 14px;
    font-weight: 700;

    line-height: 2;
    background-color: $white;

    padding: 0 15px
}

@mixin semi-bold-text {
    font-weight: 500;
}

@mixin bold-text {
    font-size: 24px;
    font-weight: 700;
}

@mixin h2 {
    font-size: 64px;
    font-weight: 700;

    color: $black;
}

@mixin h3 {
    font-size: 28px;
    font-weight: 700;

    color: $jabbo;
}